@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:'Poppins', sans-serif;
}
a{
    text-decoration: none;
    color:#fff;
}
html{
    scroll-behavior: smooth;
}
.container{
    width:90%;
    margin: auto;
}
header{
    position: absolute;
    top:0;
    left: 0;
    padding: 0 100px;
    width: 100%;
    background-color: #222;
    z-index: 20;
}
#head{
    position: fixed;
}
header .logo{
    float: left;
    line-height: 50px;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    color:#fff;
}
header #navbar{
    float: right;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    list-style:none;
    line-height: 50px;
    padding:0 15px;
    color:#fff;
}

.menu-toggle{
    float: right;
    line-height: 50px;
    font-size: 22px;
    display: none;
    color:#fff;
}

.main{
    width:100%;
    min-height: 100vh;
    background: #333;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
    z-index: 10;
    margin-bottom: -10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.main-content{
    width:100%;
    height: 100%;
}
.main-content h1{
    font-size: 3.5rem;
    font-weight: 700;
    
}
.main-content p{
    padding: 8px 0 13px 0;
    font-size: 18px;
}
.read{
    display: block;
    color:#888;
}
.about{
    width:100%;
    min-height: 100vh;
    background:#fff;
}
.heading{
    color:#333;
    font-size: 30px;
    padding: 170px 0 70px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
}
.about-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 50px;
}
.about-content .about1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
}
.about-content .about1:nth-child(2){
    display: flex;
    flex-direction: row-reverse;
}

.about-content .about1 .image{
    height:380px;
    width:450px;
}
.image img{
    width:100%;
    height: 100%;
    object-fit: cover; 
}
.about1-content{
    width:50%;
}
.about-content p{
    padding:10px 0 15px 0;
}

#decor{
    width:100%;
    height:100vh;
    background:#fff;
}
#decor .heading{
    padding: 50px 0;
    text-align: center;
}
.decor-content{
    width: 100%;
    height:80%;
    padding-bottom: 120px;
}
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-slide img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
#service{
    width: 100%;
    min-height: 100vh;
    background: #f1f1f1;
}
#service .heading{
    padding: 50px 0;
    text-align: center;
}
.heading p{
    font-size:18px;
    text-align: center;
    text-transform: lowercase;
}
.service-content{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}

.service_img{
    width:100%;
    height: 100%;
    cursor: pointer;
    position: relative;
}
.service_img img{
    width:100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
}
.service_img h3{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    color:#fff;
    background-color:rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size:30px;
    color:#fff;
    opacity: 0;
    z-index: 10;
    transition: 0.5s ease-in-out;
}
.service_img h3.background-blur{
    backdrop-filter: blur(5px);
}
.service_img h3:hover{
    opacity: 1;
}
#contact{
    min-width:100%;
    min-height:70vh;
    background:#fff;
}
#contact .heading{
    padding: 30px 0 0 0;
    text-align: center;
    color: #000;
}
.social{
    text-align:center;
    padding:30px 0 30px 0;
}
.social a{
    color:#000;
}
.social i{
    font-size:40px;
    padding:0 10px;
}
.contact{
    text-align:center;
    padding:50px 0;
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.contact1{
    width:40%;
    line-height:1.8;
}
.contact1 h3{
    text-transform:uppercase;
    padding-bottom:15px;
}
.copyright{
    float:right;
    padding:20px 0;
    font-weight:600;
}
@media (max-width:950px){
    header{
        padding:0 20px;
    }
    .menu-toggle{
        display: block;
        
    }
    .menu-toggle .hide{
        display: none;
        transition: 0.7s ease-in-out;
    }
    #navbar{
        position: absolute;
        width: 50%;
        top:50px;
        left:-100%;
        height: calc(100vh - 50px);
        background:#ccc;
        text-align: center;
        transition: 0.7s ease-in-out;
    }
    #navbar.show{
        left:0%;
    }
    #navbar ul{
        display: block;
        padding: 20px 0;
    }
    #navbar ul li a{
        font-size: 20px;
    }
    .heading {
        padding: 100px 0 70px 0;
    }
    .about-content .about1 .image {
        height: 300px;
        width: 350px;
    }
    .service-content {
        grid-template-columns: repeat(2, 1.5fr);
        grid-gap: 30px;
    }
}
@media (max-width:750px){
    .about-content .about1 {
        flex-direction: column;
    }
    .about-content .about1 .image {
        height: 400px;
        width: 100%;
        padding-bottom: 20px;
    }
    .about1-content {
        width:100%;
    }
    .about-content .about1:nth-child(2) {
        display: flex;
        flex-direction: column;
    }
    .heading h3{
        font-size: 1.8rem;
    }
    .heading p {
        font-size: 15px;
    }
}
@media (max-width:650px){
    .service-content {
        grid-template-columns: repeat(1, 1.5fr);
        grid-gap: 30px;
    }
}
@media (max-width:550px){
    .contact {
        flex-direction: column;
    }
    .copyright {
        width: 100%;
        text-align: center;
    }
}
@media (max-width:500px){
    .main-content h1 {
        font-size: 2.5rem;
        font-weight: 700;
    }
    .heading p {
        font-size: 13px;
    }
    .heading {
        padding: 80px 0 50px 0;
    }
}
@media (max-width:430px){
    .heading p {
        font-size: 12px;
    }
    .heading {
        padding: 70px 0 40px 0;
    }
}
@media (max-width:390px){
    .main-content h1 {
        font-size: 2.2rem;
        font-weight: 700;
    }
    .contact1 {
        width: 100%;
    }
}
@media (max-width:340px){
    .main-content h1 {
        font-size: 1.9rem;
        font-weight: 700;
    }
    .main-content p {
        font-size: 17px;
    }
    #contact .heading {
        font-size: 15px;
    }
}
@media (max-width:290px){
    .main-content h1 {
        font-size: 1.8rem;
        font-weight: 700;
    }
    .about1-content {
        font-size: 15px;
    }
    #service .heading {
        padding: 30px 0;
    }
}
@media (max-width:275px){
    .main-content h1 {
        font-size: 1.6rem;
        font-weight: 700;
    }
}